*{
    margin: 0;
    padding: 0;
    margin: 0;

}
h1{
    background-color: #e1e2e2;
}
body{
    background-color: #bfbfc1 ;
}

.va{
    background-color: #2981c4;
}
.second {
    background-color: #2a91ce;
}
.third{
    background-color: #59b6e6;
}
#nue{
    background-color: #19b485;
}
.fourth{
    background-color: #f29ec2;
}
.fifth{
    background-color: #f27aa5;
}
#six{
    background-color: #f0578b;
}
#seven{
    background-color: #ee387f;
}
